*, *::after, *::before {
	box-sizing: border-box;
}

body {
	background-color: black;
	background: url(https://images.unsplash.com/photo-1613771404721-1f92d799e49f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469);
	object-fit: cover;
}

h1 {
	background: #fff;
	color: #000;
	/* display: inline-block; */
	font-size: 3rem;
	margin: 4rem auto;
	padding: 1rem;
	text-align: center;
	color: black;
	width: 70%;
}

h2 {
	color: #fff;
	font-size: 1.5rem;
	padding: 15px;
}

.wrapper{
	display: flex;
	justify-content: center;
}

.img-wrapper {
	flex-wrap: wrap;
}

.img-wrapper img{
	margin: 1rem;
	height: 15rem;
	width: 20rem;
}

.message-wrapper {
	flex-direction: column;
	align-items: center;
	text-align: center;
}


.throw {
	cursor: pointer;
	transition: all ease-in-out 300ms;
}

.throw:hover {
	transform: scale(1.05);
}